

.box {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    position: absolute;
    left: 0;
    animation: move 3s linear infinite;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(calc(100vw - 100px));
    }
    100% {
        transform: translateX(0);
    }
}
