*{
    margin: 0;
    padding: 0;
}


body{
   background-color: hsl(30, 54%, 90%); 
   display: flex;
   align-items: center;
   justify-content: center;
}


main{
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: hsl(0, 0%, 100%) ;
    width: 65vh;
    height: 190vh;
}


.omleti{
    width: 450px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

h1{
    margin-top: 20px;
    margin-left: 23px;
}


.uppertxt{
    font-size: 10px;
    margin-top: 20px;
    margin-left: 23px;
    font-weight: bold;

}


.parent{
    margin-left: 30px;
    background-color: hsl(330, 100%, 98%);
    width: 400px;
    height: 110px;
    border-radius: 10px;
}

.child{
    margin-left: 50px;
    line-height: 32px;
    color:hsl(332, 51%, 32%) ;
}


.time{
    margin-left:32px ;
    color:hsl(332, 51%, 32%) ;
}


.li{
    font-weight: 900;
}


.li1{
    margin-left: 50px;
    font-size: 13px;
    line-height: 30px;
    
}


.ing{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 23px;
    color: hsl(30, 84%, 64%) ;
}


.line{
    margin-top: 30px;
    width: 400px;
    margin-left: 20px;
    opacity: 0.5;
}



.parent3{
  margin-left: 23px;
   font-weight: bold;
}
 
.parent5{
    
    display: flex;
    justify-content: space-between ;
    font-weight: 900;
    line-height: 50px;
}


.nutr{
    font-size: larger;
    font-weight: 900;
    color: orange;
    margin-bottom: 20px;
    margin-left: 23px;
}


.the{
    opacity: 0.5;
    margin-left: 23px;
}